<div class="form-group">
  <div class="row">
    <span class="col-sm-2 informationSpan">Start point</span>
    <input placeholder="Enter source location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
           class="form-control" #pickupInput [formControl]="destinationInput">
  </div>
  <div class="row">
    <span class="col-sm-2 informationSpan">End point</span>
    <input placeholder="Enter destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
           class="form-control" #pickupOutput [formControl]="destinationOutput">
  </div>
</div>
<div>


  <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom"
                   [styles]="mapCustomStyles">
    <!-- <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="iconurl">
        <sebm-google-map-info-window>
            <strong>InfoWindow content</strong>
        </sebm-google-map-info-window>
    </sebm-google-map-marker> -->
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
    <sebm-google-map-directions [origin]="origin" [destination]="destination"></sebm-google-map-directions>
  </sebm-google-map>
</div>
