#form {
  background-color: #FFF;
  height: 600px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0;
  text-align:center;
}
label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #333;
  height: 20px;
  margin-left: 10px;
  text-align: right;
  margin-right:15px;
}
/*input {
  height: 25px;
  width: auto;
  border: 1px solid #000;
  margin-top: 10px;
}*/

button {
  float:right;
}

.alert-danger {
  color: #a94442 !important;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn {
  width: 115px;
  margin-right: -30px;
}
